*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

body{
    background-image: url("background 1.png ");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    color:white ;
    margin: 20px 170px 10px 160px;
}
.logo{
    display: flex;
    float: left;
    height: 53px;

}
.container{
    font-weight: 700;
    margin-left: 10px;
}
.text1 a{
    font-size: 29px;
    text-decoration: none;
    color: white;
}
.text2 a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.contacts{
    text-align: right;
}
.container-grid{
    display: grid;
    place-items: center;
    grid-template-columns: 300px 300px 300px;
    gap: 92px 104px;
    margin-top: 30px;
    justify-content: center;
}


.box{

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
}
.box img{
    width: 300px;
    height: 220px;
}
.box p{
    text-align: center;
    font-weight: 400;
}
.box p a{
    text-decoration: none;
    color: white;
}
.footer{
    justify-content: center;
    font-weight: 400;

    color: white;
    margin-top: 100px;
    display: flex
}