body{
    max-width: 1280px;
    align-items: center;
    justify-content: center
}
.logo a{
    text-decoration: none;
    color: black;

}
.logo a:after {
    color: #3181A6;
    content: "mda.js";
}
.logo{
    font-family: Roboto, sans-serif;
    font-size: 80px;
    margin: 60px 140px;
}
.wrapper {
    font-family: Roboto, sans-serif;
    display: flex;
    background-color: #35444F;
    margin-top: 40px;
    margin-left: 140px;

}
.item{
    color: white;
    width: 690px;
    text-align: center;
    padding: 20px;
    border-left: white 1px solid;
}
.item1{
    margin-left: 90px;
}
.item4{
    border-right: white 1px solid;
    margin-right: 100px;
}
.side-bar{
    font-family: Roboto, sans-serif;
    margin: 60px 47px 190px 140px;
    font-size: 27px;
    font-weight: 400;
    border: #7A7E83 1px solid;
}
.side-bar div{
    padding: 20px 10px 20px 20px;
    color: #495863;
}
main{
    display: flex;
}
.img-wrapper{
    width: 885px;
    border: #000 1px solid;
    margin: 60px 0;
    text-align: center;
    padding: 50px;
}
.text {
    font-family: Roboto, sans-serif;
    width: 880px;
    margin-left: 420px;
    margin-bottom: 40px;
    font-size: 18px;
}
.footer-wrapper{
    font-family: Roboto, sans-serif;
    display: flex;
    margin-top: 40px;
    margin-left: 140px;
    margin-bottom: 40px;
    background-color: #B5B7BA;
    flex-wrap: nowrap;
}

.footer-wrapper div {
    margin: 0px 9px;
    padding: 20px;
    font-size: 20px;
}
.text-right{
    margin-left: 90px; 
}