*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #171717;

}
.first-block{
    display: grid;
    background: url("header-bg 1.png") fixed;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 30px 70px
}
a{
    text-underline: none
}
.button{
    display: flex;
    background: none;
    cursor: pointer;
    color: #E4B564;
    border: 1px solid #E4B564;
    font-size: 13px;
    padding: 11px 22px;

}
button img{
    margin: 0 25px 0 0;
}
.button-text{
    margin: 10px;
}

.text{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
}
.h1{
    font-size: 50px;
    margin-right: 660px;
}
.h3{
    font-size: 20px;
    width: 1300px;
}
.parent {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 20px;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4,150px);
    margin-top: 30px;
    margin-bottom: 50px;

}
.div1 {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.div2 {
    grid-area: 1 / 3 / 3 / 5;
    background-color: #B4A385;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;

}
.inside-text{
    width: 380px;
    text-align: center;
}
.div3 {
    grid-area: 1 / 5 / 3 / 7;
    background-color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;

}
.div4 {
    grid-area: 3 / 1 / 5 / 4;
    background-color: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;

}
.div5 {
    grid-area: 3 / 4 / 5 / 7;
    background-color: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.second-block{
    background: url("parallax-bg.jpeg") fixed;
}
.second-header{
    font-size: 50px;
    margin-right: 240px;
    padding-top: 90px;
}
.second-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(13, 40px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 80px;
    padding-bottom: 20px;


}
.div1-1 {
    grid-area: 1 / 1 / 6 / 5;
    background-color: #0E0E0E;
}
.div2-2 {
    grid-area: 1 / 5 / 8 / 9;
    background-color: #242424;
}
.div3-3 {
    grid-area: 1 / 9 / 4 / 13;
    background-color: #1F1F1F;
}
.div4-4 {
    grid-area: 4 / 9 / 9 / 13;
    background-color: #0E0E0E;
}
.div5-5 {
    grid-area: 9 / 9 / 14 / 13;
    background-color: #0E0E0E;
}
.div6-6 {
    grid-area: 8 / 5 / 13 / 9;
    background-color: #E4B564;
}

.div7-7 {
    grid-area: 6 / 1 / 14 / 5;
    background-color: #1F1F1F;
}
.text-in-box{
    margin: 30px 30px;
    color: white;
}

.footer{
    background-color: #0E0E0E;
}
.footer-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: repeat(2, 340px);
    margin: 65px 0;

}
.div1-12 {
    grid-area: 1 / 1 / 2 / 2;
    background-color:#634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2-22 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #E8D2AB;
    text-align: center;
    color: white;
    padding: 60px 90px;

}
.div3-33 {
    grid-area: 1 / 3 / 2 / 4;
    background-color:#E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div4-44 {
    grid-area: 2 / 1 / 3 / 2;
    background-color:#635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div5-55 {
    grid-area: 2 / 2 / 3 / 3;
    background-color:#B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div6-66 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #634F2C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-header{
    font-size: 50px;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px}
.button2{
    padding: 20px;
    background: none;
    cursor: pointer;
    color: #E4B564;
    border: 1px solid #E4B564;
    font-size: 13px;

}
